img.cat {
  max-width: 90%;
}

@media only screen and (min-width: 768px) {
  img.cat {
    max-width: 50%;
  }
}

#btn_hide {
  display: none;
}

#btn_show {
  display: block;
}

mat-card-header,
.cat-img,
.buttons {
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
mat-card {
  margin-bottom: 2%;
}
button {
  margin-left: 2%;
}

mat-tab-group {
  margin-top: 4%;
}

mat-card-title {
  color: blue;
}
mat-card-subtitle {
  text-align: center;
}

a {
  text-decoration: none;
}
