img {
  max-width: 45%;
}

mat-card-header,
.cat-img,
.buttons {
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
mat-card {
  margin-bottom: 2%;
}
button {
  margin-left: 2%;
}

mat-tab-group {
  margin-top: 4%;
}

mat-card-title {
  color: blue;
}
mat-card-subtitle {
  text-align: center;
}
