<div class="content" [@fadeInOut]>
  <h1>The Cat family</h1>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let cat of cats">
      <mat-card class="mat-elevation-4" *ngIf="cat.image">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ cat.name }}</mat-card-title>
          <mat-card-subtitle>Origin: {{ cat.origin }}</mat-card-subtitle>
        </mat-card-header>

        <a [routerLink]="['/cat', cat.image.id]">
          <img
            mat-card-image
            src="{{ cat.image.url }}"
            alt="Photo"
            class="animate__animated animate__bounce animate__fadeIn"
        /></a>

        <mat-card-content
          ><p>{{ cat.temperament }}</p></mat-card-content
        >
      </mat-card>
    </div>
  </div>
</div>

<mat-progress-spinner
  *ngIf="loading && !loaded"
  id="spinner"
  [color]="color"
  [mode]="mode"
>
</mat-progress-spinner>
