<div class="content" [@fadeInOut]>
  <div fxLayout="row" fxLayoutAlign="center"><h1>The Cat family</h1></div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center">
    <div
      fxFlex="30%"
      fxLayoutAlign="center"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      *ngFor="let cat of cats"
    >
      <mat-card class="mat-elevation-4" *ngIf="cat.id != undefined">
        <mat-card-header fxLayoutAlign="center">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ cat.name }}</mat-card-title>
          <mat-card-subtitle>Origin: {{ cat.origin }}</mat-card-subtitle>
        </mat-card-header>

        <div fxLayout="row" fxLayoutAlign="center">
          <a
            [routerLink]="[
              '/cat',
              cat.image != undefined ? cat.image.id : '123'
            ]"
          >
            <img
              mat-card-image
              [src]="
                cat.image != undefined ? cat.image.url : 'assets/default.jpg'
              "
              alt="Photo"
              class="animate__animated animate__bounce animate__fadeIn"
          /></a>
        </div>

        <mat-card-content
          ><p>{{ cat.temperament }}</p></mat-card-content
        >
      </mat-card>
    </div>
  </div>
</div>

<mat-progress-spinner
  *ngIf="loading && !loaded"
  id="spinner"
  [color]="color"
  [mode]="mode"
>
</mat-progress-spinner>
